<div class="great-container">
  <div class="container">
    <div class="col1">
      <p><b>Contact</b></p>
      <p>206-555-7890</p>
      <p>123 Fake Street</p>
      <p>Seattle, WA 00000</p>
      <p>example@example.com</p>
    </div>
    <div class="col2">
      <div class="title">
        <img src="../../assets/img/fatamorgana.png" width="120px" alt="" />
        <h1>Fata Morgana</h1>
      </div>
      <div class="social">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
    <div class="col3">
      <p><b>Hours</b></p>
      <p>Mon–Wed 6–11</p>
      <p>Thu–Sat 4–12</p>
      <p>Sun 3–10</p>
      <p>Make a Reservation</p>
    </div>
  </div>
  <p class="footer"
    >Created by
    <a
      href="https://www.linkedin.com/in/georgios-litos-215b2918a/"
      target="_blank"
      >Georgios Lytos</a
    ></p
  >
</div>
