<div class="great-container">
  <div class="container">
    <div class="col1">
      <p><b>Επικοινωνία</b></p>
      <p>2313 252 122</p>
      <p>Φιλίππου 1</p>
      <p>546 30, Θεσσαλονίκη</p>
    </div>
    <div class="col2">
      <div class="title">
        <img src="../../assets/img/fatamorgana.png" width="120px" alt="" />
        <h1>Fata Morgana</h1>
      </div>
      <div class="social">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
    <div class="col3">
      <p><b>Ώρες λειτουργίας</b></p>
      <p>Τρίτη – Σάββατο 12:30 – 01:00</p>
      <p>Κυριακή 12:30 – 21:00</p>
      <p>Δευτέρα κλειστά </p>
    </div>
  </div>
  <p class="footer"
    >Created by
    <a
      href="https://www.linkedin.com/in/georgios-litos-215b2918a/"
      target="_blank"
      >Georgios Lytos</a
    ></p
  >
</div>
