<!-- ng-simple-slideshow from npm is used here-->
<div class="container">
  <slideshow
    [height]="height"
    [minHeight]="'525px'"
    [autoPlay]="false"
    [autoPlayInterval]="autoPlayInterval"
    [showArrows]="true"
    [imageUrls]="images"
    [lazyLoad]="images?.length > 1"
    [autoPlayWaitForLazyLoad]="true"
  >
  </slideshow>
  <div class="typed-container">
    <span class="typed-element"></span>
  </div>
  <button>ΚΑΝΤΕ ΚΡΑΤΗΣΗ</button>
  <div class="arrow bounce" [routerLink]="['/home']" fragment="story">
    <a class="fas fa-chevron-down fa-2x"></a>
  </div>
</div>
