<div class="container" [ngStyle]="{ background: color }">
  <div class="title">
    <img src="../../assets/img/fatamorganawhite.png" alt="" width="90px" />
    <h1>Fata Morgana</h1>
  </div>
  <div class="menu-container">
    <button
      class="hamburger hamburger--collapse"
      type="button"
      (click)="onhamClick()"
      [class.is-active]="onham"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <ul class="menu" [ngClass]="{ responsive: onham }">
      <li [routerLink]="['/home']" routerLinkActive="router-link-active"
        >ΑΡΧΙΚΗ</li
      >
      <li>ΜΕΝΟΥ</li>
      <li>ΚΡΑΤΗΣΗ</li>
      <li>EVENTS</li>
      <li [routerLink]="['/contact']" routerLinkActive="router-link-active"
        >ΕΠΙΚΟΙΝΩΝΙΑ</li
      >
    </ul>
  </div>
</div>
<!-- (clickOutside)="onClickedOutside($event)" -->
<!-- [ngClass]="{ responsive: onham }" -->
