.container {
  position: fixed;
  width: 100%;
  display: flex;
  padding: 1rem 10rem;
  z-index: 9;
  text-shadow: 1px 1px #000;
  color: #fff;
  transition: background 0.8s ease;
  top: 0;
  z-index: 999;

  .title {
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    h1 {
      font-family: 'Sacramento';
      font-size: 2.5rem;
    }
  }
  .menu-container {
    position: relative;
    align-self: center;
  }
  .menu {
    flex: 3;
    align-self: center;
    font-family: 'EB Garamond';
    font-size: 1.1rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 1rem;
    transition: all 1s ease;

    &:hover > li {
      opacity: 0.5;
    }
    &:hover li:hover {
      opacity: 1;
    }
    li {
      flex: 1;
      position: relative;
      padding: 0.5rem 1rem 1rem 1rem;
      cursor: pointer;
      transition: all 0.2s ease;
      list-style-type: none;
    }
  }
  i {
    display: none;
    font-size: 2rem;
    cursor: pointer;
  }
}

.responsive {
  display: inline-flex !important;
}

::ng-deep .hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #eee !important;
}

::ng-deep .hamburger {
  background-color: transparent !important;
}
button {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
}
.is-active {
  background: #eee;
}
.exitBtn {
  display: none !important;
}

@media screen and (max-width: 1240px) {
  .container {
    padding: 1rem;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    padding: 1rem 0;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 910px) {
  div.container {
    .menu {
      flex-direction: column;
      flex: 1;
      text-align: right;
      display: none;
    }
    i {
      display: block;
      text-align: right;
      margin: 2rem;
    }
  }
  button {
    display: block;
  }

  .menu {
    flex-direction: column;
    margin-top: 4rem;
  }
}
