<div class="container" [ngStyle]="{ background: color }">
  <div class="title">
    <img src="../../assets/img/fatamorganawhite.png" alt="" width="90px" />
    <h1>Fata Morgana</h1>
  </div>
  <div class="menu-container" (clickOutside)="onClickedOutside($event)">
    <button
      class="hamburger hamburger--collapse"
      type="button"
      (click)="onhamClick()"
      [class.is-active]="onham"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <ul class="menu" [ngClass]="{ responsive: onham }">
      <li [routerLink]="['/home']" (click)="onSlideClick(1)">ΑΡΧΙΚΗ</li>
      <li [routerLink]="['/menu']" (click)="onSlideClick(2)">ΜΕΝΟΥ</li>
      <li [routerLink]="['/contact']" (click)="onSlideClick(3)">ΕΠΙΚΟΙΝΩΝΙΑ</li>
    </ul>
  </div>
</div>
