<app-contact-slides-content></app-contact-slides-content>
<div class="great-container" id="location">
  <div class="container">
    <div class="col1">
      <img
        src="../../assets/img/36475768_2100279013562563_4361816567881662464_o-1-1024x683.jpg"
        alt=""
        width="600px"
      />
    </div>
    <div class="col2">
      <h2>Ώράριο λειτουργίας</h2>
      <p>Τρίτη – Σάββατο 12:30 – 01:00</p>
      <p>Κυριακή 12:30 – 21:00</p>
      <p>Δευτέρα κλειστά </p>
      <h2>Τηλέφωνα επικοινωνίας:</h2>
      <p>2313 252 122 – 698 413 2290</p>
      <p>Email: info@fatamorgana.org</p>
    </div>
  </div>
  <app-maplocation></app-maplocation>
  <app-fb-images></app-fb-images>
</div>
