@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Noto+Sans|Sacramento&display=swap');
@import '../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './theme.scss';

// @import '@angular/material/prebuilt-themes/indigo-pink.css';
// @import './theme.scss';

$font-serif: 'EB Garamond';
$font-title: 'Sacramento', cursive;
$font-sans-serif: 'Noto Sans';
$font-color1: #333;
$font-color2: #ff5522;

$primary-color: #043927;
$secondary-color: #cc4f36;
$triatry-color: #e6690f;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0rem;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $font-sans-serif;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 90%;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 80%;
  }
}
