<div class="container" id="story">
  <div class="container-left">
    <h1>Η ΙΣΤΟΡΙΑ ΜΑΣ</h1>
    <p
      >Λορεμ ιπσθμ δολορ σιτ αμετ, νο διcο περφεcτο ινvενιρε ιθσ, ναμ εα
      πλαcερατ vιτθπερατα ρεπθδιανδαε. Cοπιοσαε μαλθισσετ νε δθο, εξ vελ
      αππαρεατ αδιπισcι. Ιν αθτεμ φαcιλισ δετερρθισσετ εοσ, ιραcθνδια τεμποριβθσ
      cθ ιθσ. Cθμ qθεμ δετραcτο εθριπιδισ νο.
    </p>
    <p
      >Δθο τε δελιcατα σαλθτανδι qθαλισqθε. Νθλλα ομνεσqθε ει προ, ιγνοτα
      πραεσεντ αδ πρι. Vιμ ωισι ηαβεο εqθιδεμ εθ, θτ εοσ προβο ινvιδθντ
      αντιοπαμ, λεγιμθσ λιβεραvισσε εστ ετ. Cθ ηασ γραεcε εvερτι εξπλιcαρι.
    </p>
    <p
      >Νο μεισ δεβετ cοντεντιονεσ νεc, τοτα ομνιθμ εαμ νε, ετ ναμ αεqθε
      μαλθισσετ εξπετενδισ. Εθ φερρι φιερεντ μοδερατιθσ qθι. Νε δολορ vολθμθσ
      δισσεντιετ δθο, αδ μαλορθμ περcιπιτθρ πρι, νομινατι τραcτατοσ αδ εοσ.
      Ασσθμ εvερτι οφφενδιτ ιν προ.
    </p>
    <p
      >Τεμποριβθσ τηεοπηραστθσ ηασ αν. Ει vιξ μθνερε μεντιτθμ, νο σιμθλ ιριθρε
      vισ, ινvιδθντ περσεcθτι vισ εθ. Νοβισ γραεcο ηαβεμθσ εα εαμ, πρι cιvιβθσ
      τραcτατοσ σθαvιτατε αν. Θσθ ποστεα απεριαμ cονσεqθθντθρ εθ. Vεριτθσ
      vολθτπατ qθαλισqθε ηασ εα, νο jθστο νθλλαμ πονδερθμ εστ. Vιμ εα qθαεqθε
      αccθσαμθσ, ριδενσ ομνεσqθε δεσερθισσε ει qθο, ηασ νο μοδθσ τεμποριβθσ. Ιθσ
      εθ ασσθμ εξερcι, μελ αν ποσσε cοπιοσαε, ωισι ατομορθμ μολεστιαε θτ μει.</p
    >
  </div>
  <div class="container-right">
    <img
      src="../../../assets/img/36434315_2100281110229020_2604338722275065856_n.jpg"
      alt=""
      width="600px"
    />
  </div>
</div>
